<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bands</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <div>
    <h1>Gigs by Band</h1>
    {{#each bands}}
    <a href="/band/{{id}}">{{name}}</a>
    <br>
    {{/each}}
    <br>
    <a href="/"><button>back</button></a>
  </div>
  </body>
</html>
