<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gig Guide</title>
  </head>
  <body>
    <h1>What's On?</h1>
    <a href="#"><button>gigs by venue</button></a>
    <a href="#"><button>gigs by band</button></a>
    <h2>Coming Soon:</h2>
    {{#each gigs}}
    <li><a href="/gig/{{gigID}}">see more</a> {{date}} {{bandName}} {{venueName}}</li>
    {{/each}}
  </body>
</html>
