<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Venues</title>
  </head>
  <body>
    <h1>Gigs by venue</h1>
    {{#each gigs}}
    <li><a href="/venue/{{venueID}}"> {{venueName}} </a> </li>
    {{/each}}
    <a href="/"><button>back</button></a>
  </body>
</html>
